<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flutter_apps">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
    android:label = "flutter_sacco"
    android:name = "${applicationName}"

    <activity
     android:name=".MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
    <meta-data
    android:name="flutterEmbedding"
    android:value="2" 
    />
    />
</manifest>
